<?xml version="1.0" encoding="UTF-8"?>
<format>0.1</format>
<config>
    <inverters>
        <inverter>
            <name>givi </name>
            <ipaddr>192.168.0.12 </ipaddr>
            <macaddr>30:85:a9:2c:23:18 </macaddr>
        </inverter>
    </inverters>
    <msgs>
        <cmp>
            <index>29</index>
            <value>0.000000</value>
        </cmp>
        <cmp>
            <index>28</index>
            <value>0.000000</value>
        </cmp>
        <cmp>
            <index>27</index>
            <value>0.000000</value>
        </cmp>
        <cmp>
            <index>26</index>
            <value>0.000000</value>
        </cmp>
        <cmp>
            <index>25</index>
            <value>0.000000</value>
        </cmp>
        <cmp>
            <index>20</index>
            <value>0.000000</value>
        </cmp>
    </msgs>
</config>