<?xml version="1.0" encoding="UTF-8"?>
<format>0.1</format>
<config>
    <inverters>
        <inverter>
            <name>orkney </name>
            <ipaddr>192.168.56.2</ipaddr>
            <macaddr>00:11:22:33:44:55</macaddr>
        </inverter>
        <inverter>
            <name>hebrides </name>
            <ipaddr>192.168.56.3</ipaddr>
            <macaddr>00:e1:2d:33:44:af</macaddr>
        </inverter>
    </inverters>
    <msgs>
        <cmp>
            <index>6</index>
            <value>0.897000</value>
        </cmp>
        <cmp>
            <index>5</index>
            <value>0.456000</value>
        </cmp>
    </msgs>
</config>