just some text<?xml version="1.0" encoding="UTF-8"?>
<format>0.1</format>
<config>
    <inverters>
        <inverter>
            <name>192.168.56.2</name>
            <ipaddr>44:55:66:22:11:55</ipaddr>
            <macaddr></macaddr>
        </inverter>

    </inverters>
        <cmp>
            <index>6</index>
            <value>0.870000</value>
        </cmp>
        <cmp>
            <index>5</index>
            <value>1.570000</value>
        </cmp>
    <msgs>
    </msgs>
</config>